#modal {
    background-color: #333;
    color: black;
    border: none;
    border-radius: 10px;
    padding: 30px;
}

#modal button {
    color: black;
}

#modal form {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
}

#modal form div {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

#modal form div input {
    border: none;
    border-radius: 10px;
    padding: 5px;
    color: grey;
}

#modal form div input:focus {
    outline: none;
}