.notes-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.note {
    width: 300px;
    height: 300px;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.19) 0 5px 10px,
    rgba(0, 0, 0, 0.23) 0 3px 3px;
    transition: transform 0.5s;
}

.note .pin {
    height: 25px;
    width: 25px;
    align-self: center;
    background-color: red;
    border-radius: 50%;
    cursor: grab;
}

.is-dragging {
    box-shadow: rgba(0, 0, 0, 0.08) 0 30px 50px,
    rgba(0, 0, 0, 0.1) 0 40px 40px;
    transform: scale(1.05);
}

.is-dragging .pin {
    background-color: rgb(209, 1, 1);
    cursor: grabbing;
}

.note input,
.note textarea {
    color: black;
    background: transparent;
    border: none;
    outline: none;
}

.note input {
    text-align: center;
    font-weight: bold;
    font-size: 1.25rem;
}

.note textarea {
    flex: 1;
    resize: none;
}