* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: whitesmoke;
}

body {
    height: 100vh;
    max-width: 100vw;
    display: grid;
    grid-template: 1fr 7fr 1fr / 1fr 7fr;
}

header {
    grid-column: 1 / 3;
    font-weight: bold;
    background-color: #333;
    padding: 20px;
}

.sidebar {
    background-color: #4c4747;
}

.projects-list {
    width: 100%;
    padding: 10px 0;
}

.projects-title {
    margin: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.projects-title > button {
    background: none;
    border: 1px solid #333;
    border-radius: 7px;
    padding: 2px 15px;
    font-weight: bold;
}

.projects-title > button:hover {
    background-color: #474242;
    cursor: pointer;
}

.project {
    margin-left: 35px;
}

.main-content {
    background-color: #7b7a7a;
    position: relative;
}

.notes {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.note {
    width: 200px;
    height: 200px;
    margin: 20px;
    padding: 10px;
    color: black;
    text-align: center;
}

.main-content > button {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
    padding: 10px 20px;
    background-color: #4c4747;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 10;
}

.main-content > button:hover {
    background-color: #474242;
}

footer {
    grid-column: 1 / 3;
    background-color: #333;
    text-align: center;
    padding: 50px;
}